.button {
  height: 100%;
  max-height: 25px;
  border-radius: 8px;
  border: var(--transparent-border);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  color: var(--text-color);
  border-color: var(--hover-border-color);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media screen and (max-width: 860px) {
  .button {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
  }
}
