.videoBlock {
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 16/9;
  p {
    text-transform: uppercase;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 1rem;
  }
}

iframe {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 860px) {
  .videoBlock {
    padding: 1rem;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 16/9;
  }
}
